/* Color Context Menu */
.menupopup-arrowscrollbox {
    background-color: var(--arrowpanel-background, #3c3c3c) !important;
    border-color: var(--arrowpanel-border-color, #3c3c3c) !important;
}

/* Color to :hover items */
menupopup>menuitem:not(.menuitem-iconic, [disabled="true"]):hover,
menupopup>menu:where(.menuitem-iconic, [_moz-menuactive]:not([disabled="true"])) {
    appearance: none !important;
    background-color: var(--arrowpanel-border-color) !important;
}

#context-navigation>.menuitem-iconic[_moz-menuactive="true"]>.menu-iconic-left>.menu-iconic-icon {
    background-color: var(--arrowpanel-border-color) !important;
}
